[Desktop Entry]
Type=Application
Name=Formatter
Name[lt]=Formatavimo įrankis
Comment=A simple device formatter
Comment[lt]=Paprastas įrenginių formatavimo įrankis
GenericName=Formatter
Icon=com.github.djaler.formatter
Exec=com.github.djaler.formatter %U
Terminal=false
Categories=System;GNOME;GTK;
X-GNOME-Gettext-Domain=formatter
Keywords=Format;Device;USB;
